<div class="equipments-list">

    <button mat-raised-button (click)="addEquipment()">
        Add equipment
    </button>

    <button mat-raised-button (click)="replaceList()">
        Replace list
    </button>

    <table class="equipments-table mat-elevation-z7" *ngIf="equipments">


        <tr class="equipment-row" *ngFor="let equipment of equipments">
            <td class="id-cell">{{equipment.id}}</td>
            <td class="description-cell">{{equipment.description}}</td>
        </tr>

    </table>
</div>